/* Generic element resets */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

.language-qsharp {
  line-height: 125%;
}
pre:has(code) {
  background-color: White;
  border-left: solid DarkBlue;
  margin: 5px 0px 5px 0px;
  padding: 0em 0em 0em 0.5em;
}

/* Playground body */

.qs-play-body {
  position: relative;
  min-height: 100vh;
  font-family: system-ui, "Segoe UI", "SegoeUI", Roboto, Helvetica, Arial,
    sans-serif;
  color: var(--main-color);
  background-color: var(--main-background);
  display: grid;
  grid-template-areas:
    "header header header"
    "nav editor results";
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(180px, auto) 8fr 8fr;
  column-gap: 16px;
}

/* Playground layout */

.page-header {
  grid-area: header;
  background: var(--heading-background);
  color: var(--main-background);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 8px;
}

#popup {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  padding: 8px 16px;
  font-size: 16px;
}

/* Navigation section */

.nav-column {
  grid-area: nav;
  background-color: var(--nav-background);
}

.nav-1 {
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--main-color);
  border-top: 1px solid var(--border-color);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.nav-2 {
  font-size: 1rem;
  font-weight: 200;
  padding: 4px;
  padding-left: 16px;
}

.nav-selectable:hover {
  background-color: var(--nav-hover-background);
  cursor: pointer;
}

.nav-current {
  font-weight: 700;
  background-color: var(--nav-current-background);
}

/* Editor section */

.editor-column {
  grid-area: editor;
  margin: 16px;
  margin-top: 32px;
}

.file-name {
  border: 1px solid var(--border-color);
  border-bottom: 0px;
  width: 100px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  background-color: white;
}

.icon-row > * {
  margin-left: 4px;
  font-size: 1.4rem;
  cursor: pointer;
}

.code-editor {
  height: 40vh;
  min-height: 400px;
  border: 1px solid var(--border-color);
}

.button-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
}

.button-row > * {
  margin-left: 10px;
  font-size: 1rem;
}

.main-button {
  background-color: var(--nav-background);
  font-size: 1rem;
  color: var(--main-color);
  width: 72px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.main-button:disabled {
  background-color: gray;
  cursor: default;
}

.diag-list {
  margin-top: 24px;
  margin-bottom: 24px;
  min-height: 48px;
}

.diag-row {
  border: 1px solid var(--border-color);
  padding: 4px;
  border-bottom: 0.5px solid gray;
  font-size: 0.9rem;
  margin-bottom: -1px;
}

.diag-row > span {
  font-weight: 200;
}

.diag-help {
  font-weight: 200;
  font-style: italic;
}

.error-row {
  background-color: var(--error-background-color);
}

.warning-row {
  background-color: var(--warning-background-color);
}

/* Katas */

.kata-override {
  background-color: var(--main-background);
}
